*.js linguist-language=Javascript
static/* linguist-vendored
jquery.js linguist-vendored=false
*.css linguist-language=Css
static/* linguist-vendored
jquery.js linguist-vendored=false
*.scss linguist-language=Scss
static/* linguist-vendored
jquery.js linguist-vendored=false
*.html linguist-language=Html
static/* linguist-vendored
jquery.js linguist-vendored=false
*.py linguist-language=Python
auth/* linguist-vendored
jquery.js linguist-vendored=false
