 
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">1000-7</a>
        <style>
          .navbar-brand{
          font-size: 20px;
          color: #000000;
          font-weight: 700;
          font-family: "Unna", serif;
          text-transform: uppercase;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          position: relative;
          padding: 10px 0;
          display: block;
      }
        </style>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"> {{_("Товары")}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_("БРЕНДЫ")}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for brand in brands %}
                <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                {% endfor %}
              </div>
            </li>
             
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{_("КАТЕГОРИИ")}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                  <a class="dropdown-item" href="{{url_for('get_category',id=category.id)}}">{{category.name}}</a>
                  {% endfor %}
                </div>
              </li>
             {% if current_user.is_authenticated %}
             <li class="nav-item">
              <a href="{{url_for('customer_logout')}}" class="nav-link">{{current_user.name}}</a>
            </li>
             <li class="nav-item">
               <a href="{{url_for('customer_logout')}}" class="nav-link">{{_("Выход")}}</a>
             </li>
             {% else %}
             <li class="nav-item">
              <a href="{{url_for('customer_register')}}" class="nav-link">{{_("Регистрация")}}</a>
            </li>
             <li class="nav-item">
              <a href="{{url_for('customerLogin')}}" class="nav-link">{{_("Вход")}}</a>
            </li>
            {% endif %}
              <li class="nav-item">
                <a href="{{url_for('getCart')}}" class="nav-link"> {{_("Корзина товаров")}} ({{ session['Shoppingcart']|length }}) </a>
              </li>
              <style>
                .nav-link{
                font-size: 15px;
                color: #ffffff;
                font-weight: 700;
                font-family: "Unna", serif;
                text-transform: uppercase;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                position: relative;
                padding: 10px 0;
                display: block;
            }
              </style>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{{url_for('result')}}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{_("Поиск")}}</button>
          </form>
        </div>
      </nav>
</div>
<!---============== END OF NAV BAR ==================-->