{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center bg-info p-2 h4">Admin регистрация</div>
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                    {{ form.csrf_token }}
                <div>
                    {{ render_field(form.name, class="form-control") }}
                    {{ render_field(form.username, class="form-control") }}
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    {{ render_field(form.confirm, class="form-control") }}
                    
                </div>
                <p><input type="submit" value="Register" class="btn-info">
                </form>
            </div>
      <div class="col-md-3"></div>
    </div>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V5</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/static/auth/images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/auth/css/util.css">
  <link rel="stylesheet" type="text/css" href="/static/auth/css/main.css">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100" style="background-image: url('auth/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
      <form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

        <a href="#" class="btn-face m-b-20">
          <i class="fa fa-facebook-official"></i>
          Facebook
        </a>

        <a href="#" class="btn-google m-b-20">
          <img src="auth/images/icons/icon-google.png" alt="GOOGLE">
          Google
        </a>

        <div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Email is required">
          <input class="input100" type="email" name="email" >
          <span class="focus-input100"></span>
        </div>

        <div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

          <a href="#" class="txt2 bo1 m-l-5">
            Forgot?
          </a>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input class="input100" type="password" name="pass" >
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn">
            Sign In
          </button>
        </div>

        <div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

          <a href="#" class="txt2 bo1">
            Register now
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/static/auth/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/static/auth/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/static/auth/vendor/bootstrap/js/popper.js"></script>
<script src="/static/auth/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/static/auth/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/auth/vendor/daterangepicker/moment.min.js"></script>
<script src="/static/auth/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/static/auth/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/static/auth/js/main.js"></script>

</body>
</html>
{% endblock content %}